@using TrainTestStationName.Models
@model LanModel

@{
    ViewBag.Title = "Index";
}

<style>
    .etabs {
        margin: 0;
        padding: 0;
    }

    .tab {
        display: inline-block;
        zoom: 1;
        *display: inline;
        background: #eee;
        border: solid 1px #999;
        border-bottom: none;
        -moz-border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
    }

        .tab a {
            font-size: 10px;
            display: block;
            padding: 0 10px;
            outline: none;
        }

            .tab a:hover {
                text-decoration: underline;
            }

        .tab.active {
            background: #fff;
            padding-top: 6px;
            position: relative;
            top: 1px;
            border-color: #666;
        }

        .tab a.active {
            font-weight: bold;
        }

    .tab-container .panel-container {
        background: #fff;
        border: solid #666 1px;
        padding: 4px;
        -moz-border-radius: 0 4px 4px 4px;
        -webkit-border-radius: 0 4px 4px 4px;
        width: 442px;
    }

    #serachMainDiv {
        padding: 30px;
        background-color: #1270b8;
    }

    #serachSubDiv {
        background-color: #0a385c;
        /*height: 80%;*/
        padding: 20px;
        border-radius: 15px;
    }

    #searchBtnDiv {
        text-align: center;
    }

        #searchBtnDiv > input[type=button] {
            width: 250px;
            height: 46px;
            margin-top: 85px;
        }

    #beginStation, #endStation {
        /*width:60%;*/
    }

    #startStationNameDiv, #endStationNameDiv {
        z-index: 999;
        position: absolute;
        padding: 0px;
        margin-top: 6px;
        width: 122%;
        background-color: white;
        padding-left: 4px;
        border-radius: 5px;
    }

    .station-group-ul {
        list-style-type: none;
        margin: 0;
        position: static;
        margin-bottom: 2px;
    }
    #eac-container-beginStation >ul , #eac-container-endStation > ul {
        top: 5px;
    }

    .station-group-ul li {
        display: inline-block;
        margin: 5px;
    }

    .group-span {
        position: relative;
        top: 22px;
        left: 15px;
        color: red;
        font-family: Verdana;
    }

    .group-sub-div {
        margin-top: -17px;
    }
</style>

<h2>Index</h2>

<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<link href="~/Content/easy-autocomplete.css" rel="stylesheet" />
<script src="~/Scripts/jquery.easy-autocomplete.js"></script>
<script src="~/Scripts/jquery.easytabs.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/select2.full.min.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<link href="~/Content/easy-autocomplete.themes.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui.min.js"></script>
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />

<div id="serachMainDiv" class="row">
    <div id="serachSubDiv" class="col-md-7">
        <div id="beginDiv" class="col-md-6">
            <span class="label label-info">出發站</span>
            <input id="beginStation" type="text" name="name" value="" />
            <div id="startStationNameDiv" style="display: none;">
                <div id="tab-container" class="tab-container">
                    <ul class='etabs'>
                        <li class='tab'><a href="#tabs-hot">熱門</a></li>
                        <li class='tab'><a href="#tabs-g1">ABCD</a></li>
                        <li class='tab'><a href="#tabs-g2">EFGH</a></li>
                        <li class='tab'><a href="#tabs-g3">IJKL</a></li>
                        <li class='tab'><a href="#tabs-g4">MNOP</a></li>
                        <li class='tab'><a href="#tabs-g5">QRST</a></li>
                        <li class='tab'><a href="#tabs-g6">UVWX</a></li>
                        <li class='tab'><a href="#tabs-g7">YZ</a></li>
                    </ul>
                    <div id="start-container" class="panel-container" style="">

                        <div id="tabs-hot">
                            <ul class="station-group-ul">
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="endDiv" class="col-md-6">
            <span class="label label-info">抵達站</span>
            <input id="endStation" type="text" name="name" value="" />
            <div id="endStationNameDiv" style="display: none;">
                <div id="tab-container" class="tab-container">
                    <ul class='etabs'>
                        <li class='tab'><a href="#tabs-hot">熱門</a></li>
                        <li class='tab'><a href="#tabs-g1">ABCD</a></li>
                        <li class='tab'><a href="#tabs-g2">EFGH</a></li>
                        <li class='tab'><a href="#tabs-g3">IJKL</a></li>
                        <li class='tab'><a href="#tabs-g4">MNOP</a></li>
                        <li class='tab'><a href="#tabs-g5">QRST</a></li>
                        <li class='tab'><a href="#tabs-g6">UVWX</a></li>
                        <li class='tab'><a href="#tabs-g7">YZ</a></li>
                    </ul>
                    <div id="end-container" class="panel-container" style="">

                        <div id="tabs-hot">
                            <ul class="station-group-ul">
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                                <li><input type="button" name="name" class="btn btn-xs " value="熱門" /></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="searchBtnDiv"><input type="button" class="btn btn-lg btn-success" name="name" value="搜尋" /></div>
    </div>
    <div id="datepicker" class="col-md-5"></div>
</div>

<script>
    $(function () {
        $("#datepicker").datepicker(
            {
                dateFormat: 'yy-mm-dd',
                minDate: 0,
                maxDate: '29', //以30天為限制，2017/05/16~2017/06/14 計算為例，值為29
                numberOfMonths: 1,
                showButtonPanel: true,
                changeMonth: false,
            });

        //取得出發站和到達站資料（1.6.4）
        var stationName = '@Model.StationName';
        var stationSplitAry = stationName.split("|");
        var stationAry = GetStationData(stationSplitAry);
        //車站快速選單
        stationQuickSelect(stationAry, $('#start-container'));
        stationQuickSelect(stationAry, $('#end-container'));
        //快速站別tab
        $('.tab-container').easytabs();

        //點擊空白處經停點隱藏事件
        $(document).mouseup(function (e) {
            var _con = $('#startStationNameDiv,#endStationNameDiv');
            if (!_con.is(e.target) && _con.has(e.target).length === 0) {
                $('#startStationNameDiv,#endStationNameDiv').css('display', 'none');
            }
        });

        //自動完成輸入資料來源
        var autoComplateSource = [];
        for (var i = 0; i < stationAry.length; i++) {
            var source = { key: stationAry[i].Data.Group[0], value: stationAry[i].Data.Group[2], placeCD: stationAry[i].Data.Group[1] };
            autoComplateSource.push(source);
        }

        var optionsForBeginInput = {
            data: autoComplateSource,
            placeholder: "請輸入站別名稱",
            getValue: "key",
            template: {
                type: "description",
                fields: { description: "value" },
            },
            list: {
                match: { enabled: true },
                sort: { enabled: true },
                showAnimation: { type: "fade" },
                onSelectItemEvent: function () {
                    var value = $("#beginStation").getSelectedItemData().placeCD;
                    console.log(value);
                },
                maxNumberOfElements: 6,
            },
            theme: "round"
            //theme: "plate-dark"
        };
        var optionsForEndInput = {
            data: autoComplateSource,
            placeholder: "請輸入站別名稱",
            getValue: "key",
            template: {
                type: "description",
                fields: { description: "value" },
            },
            list: {
                match: { enabled: true },
                sort: { enabled: true },
                showAnimation: { type: "fade" },
                onSelectItemEvent: function () {
                    var value = $("#endStation").getSelectedItemData().placeCD;
                    console.log(value);
                },
                maxNumberOfElements: 6,
            },
            theme: "round"
            //theme: "plate-dark"
        };

        $('.btn-station').on('click', function () {
            if ($(this).attr('input-type') == 'start') {
                $('#beginStation').val($(this).val());
                $('#startStationNameDiv').hide();
            }
            else {
                $('#endStation').val($(this).val());
                $('#endStationNameDiv').hide();
            }
        });

        $("#beginStation").easyAutocomplete(optionsForBeginInput);

        $("#beginStation").click(function () {
            if (!$('#eac-container-beginStation ul').is(':visible')) {
                $('#startStationNameDiv').fadeToggle(200);
            }
        });
        $("#beginStation").on('keypress keyup keydown', function () {
            $('#startStationNameDiv').hide();
        });

        $("#endStation").easyAutocomplete(optionsForEndInput);

        $("#endStation").click(function () {
            if (!$('#eac-container-endStation ul').is(':visible')) {
                $('#endStationNameDiv').fadeToggle(200);
            }
        });
        $("#endStation").on('keypress keyup keydown', function () {
            $('#endStationNameDiv').hide();
        });
    })

    //車站快速選單
    function stationQuickSelect(stationAry, insertElem) {
        var $elem;
        var btnMark;
        if ($(insertElem).attr('id') == 'start-container') {
            $elem = $('#start-container');
            btnMark = 'start';
        }
        else {
            $elem = $('#end-container');
            btnMark = 'end';
        }
        var count = 10;
        var iDGroup = [];
        var dataGroup = [];
        for (var i = 0; i < stationAry.length; i++) {

            var findIndex = $.inArray(stationAry[i].MpaaingID, iDGroup);

            if (findIndex < 0) {
                {
                    var mappingID = stationAry[i].MpaaingID;
                    iDGroup.push(mappingID);
                    dataGroup.push({ ID: mappingID, data: [] });
                    for (var j = i; j < stationAry.length; j++) {
                        if (mappingID != stationAry[j].MpaaingID) {
                            break;
                        }
                        else {
                            dataGroup[dataGroup.length - 1].data.push(stationAry[j]);
                        }
                    }
                }
            }
        }

        var index = 0;
        for (var i = 0; i < dataGroup.length; i++) {
            var dataMain = dataGroup[i];
            var mathCount = i % 4;
            var mapID = dataGroup[i].ID;
            var $div;
            if (mathCount == 0) {
                index++;
                $div = $('<div />').attr('id', 'tabs-g' + index);
            }
            var $ul = $('<ul />');
            $ul.addClass('station-group-ul');
            var $span = $('<span />');
            $span.addClass('group-span').html(mapID);
            var $subDiv = $('<div />');
            $subDiv.attr('id', 'g' + index + '-' + mapID.toString().toLowerCase());
            $subDiv.addClass('group-sub-div');
            $span.appendTo($subDiv);

            for (var j = 0; j < dataMain.data.length; j++) {
                if (j == count) {
                    break;
                }
                var dataSub = dataMain.data[j];
                var $li = $('<li />');
                var $input = $('<input type="button">');
                $input.addClass('btn btn-xs btn-station');
                $input.attr('input-type', btnMark);
                $input.val(dataSub.Data.Group[0]);
                $li.append($input);
                $li.css('width', '63px');
                $li.appendTo($ul);
                $ul.appendTo($subDiv);
            }
            $subDiv.appendTo($div);
            $(insertElem).append($div);
            $elem.append($div);
        }
    }

    //取得站別資料
    function GetStationData(stationSplitAry) {
        var regExp = /^([\u4e00-\u9fa5])+$/;
        var nStationAry = [];
        var groundPlaceData = [];

        for (var i = 0; i < stationSplitAry.length; i++) {
            if (regExp.test(stationSplitAry[i])) {
                for (var j = i; j < i + 4; j++) {
                    groundPlaceData.push(stationSplitAry[j]);
                }
                nStationAry.push(
                    {
                        PlaceCD: groundPlaceData[1],
                        Group: groundPlaceData
                    });
                groundPlaceData = [];
            }
        }
        var wordAry = [];
        var nWord = '';
        for (var i = 0; i < nStationAry.length; i++) {
            var getFirstWord = nStationAry[i].PlaceCD[0];
            nWord = getFirstWord;
            var nextWord = (i > 0) ? nStationAry[i - 1].PlaceCD[0] : '';
            if (getFirstWord != nextWord) {
                nWord = nextWord;
            }
            if (nWord != '') {
                if (wordAry.indexOf(nWord) == -1) {
                    wordAry.push(nWord);
                }
            }
        }

        var sortAry = wordAry.sort();
        var groupAry = [];
        for (var i = 0; i < sortAry.length; i++) {
            for (var j = 0; j < nStationAry.length; j++) {
                if (sortAry[i] == nStationAry[j].PlaceCD[0]) {
                    groupAry.push({ MpaaingID: sortAry[i], Data: nStationAry[j] });
                }
            }
        }
        return groupAry;
    }
</script>